
//<----Less---->>//
.home  {
		
	header {

		text-align: center;

	}
	
	
	.container {
		max-width: 880px;
		margin: auto;
		.display(){}
		
	}
	.section1{

	}

	.section1 .box1 {


	}


	.section2 {


}

	.section2 .box2 {


}

	.section3 {


	}

	.section3 .box3 {

	
	}
}

























